h1{text-align:center;}
.media img{
	width:100px;
}

.nav-item .active{
	border-bottom: 2px solid #ccc;
}

.card-title{

	font-family:'Varela Round', sans-serif;
	color:#ff8000;
	font-size: 40px;
	border-bottom: 2px dotted #bbb;
}
